*{
    margin: 0;
    block-size: border;
    font-family: Arial, Helvetica, sans-serif
}
.container{
    max-width: 960px;
    margin: auto;

    height: auto;
    position: relative;
}
.one{
    height: 50px;
    padding: 20px;
}
header{
    border-bottom: 1px solid #4aaaa5;
}
.name{
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: 10px;
    padding: 20px;
    width: 300px;
    height: 50px;
    margin: 0;
    background:#4aaaa5;
    position: absolute;
    top: 0;
    left: 0;

}
.nav.justify-content-end {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 10px;
    right:0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
li {
    float: left;
    border-right: 1px solid #4aaaa5;
      }
      
 li:last-child {
        border-right: none;
  }
  
  li a {
    display: block;
    color: gray;
    text-align: center;
    padding: 24px 17px;
    text-decoration: none;
 
    
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #4aaaa5;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
  }
  .active {
    background-color: #4aaaa5;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
  }
   img{
    left: 20px;
    right: 20px;
    top: 20px;
 }
  p{
    left: 20px;
    right: 20px;
    top: 20px;
  }
  .title{
      color: #4aaaa5;
  }
.two{
    background-image: url(nice_snow.png);
    max-width: 960px;
   padding: 20px;
    border: 1px solid #4aaaa5;
    margin-top: 40px;
    margin-bottom: 40px;
    
}
footer{
    text-align: center;
    display: block;
    height: 50px;
    padding: 20px;
    background: rgb(51, 48, 48);
    color: white;
    border-top: 10px solid #4aaaa5;
}


/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  input[type=email], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  /* Style the container */
  .content {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }